

* {
  box-sizing: border-box
}

body {
  text-align: center;
  list-style-position: center;
  background-color: #5CDB95;
  align-self: center;
  height: 200px;
  margin: 0%;
  color:#05386B;
}

.corePage {

  /* display: block; */
}

.cardSection {
  width: 100%;
  height:auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: .5rem;
  justify-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 300px;
  height: 350px;
  margin: 2%;
  background-color: #379683;
  border: 3px solid #8EE4AF;
  padding: 10px;
  font-family: Lobster, monospace;
  
}

/* Add some padding inside the card container */
.container {
  font-family: Lobster, monospace; 

}


h2 {
  font-family: Lobster, monospace;
  font-weight: 1000000;
  font-size: 30px;
  height:25px;
}

p {
  font-size: 20px;
  font-family: Lobster, monospace;
  font-weight: 1000;
  height:15px;
}




.thin-img-border {
  border-color: #379683;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: .7
}

.smaller-image {
    width: 250px;
    height:250px;
    max-width: 100%;

  /* The animation part: */
  
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.ispin{
  animation-name: spin;
}

 .ispin2{
  animation-name: spin2;
}

.smaller-image:hover {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px)
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #EDF5E1;
  margin-top: 10px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #05386B;
}


body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}


/* Slideshow container */

.slideshow-container {
  max-width: 100%;
  margin: auto;
  /* animation-name: slidein; */
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 96px 0 rgba(6, 2, 44, 0.2);
}


/* Add rounded corners to the top left and the top right corner of the image */
.card > img {
border-radius: 5px 5px 0 0;
height: 200px;
width: 100%;
background-color: #EDF5E1
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#EDF5E1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #05386B;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* Place the navbar at the bottom of the page, and make it stick */
.botnav {
  background-color:#05386B;
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 102%;
  margin-top: 40px;
  margin-left: 0%;
  margin-right: 0%;
  left:0px;
  right:0px;
}

/* Style the links inside the navigation bar */
.botnav a {
  float: left;
  display: block;
  color: #EDF5E1 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.botnav a:hover {
  background-color: #EDF5E1;
  color: #05386B;
}

/* Add a color to the active/current link */
.botnav a.active {
  background-color: #379683;
  color: #EDF5E1;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes spin {
    from {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes spin2 {
    from {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 40%;
      width: 100%;
    }
  }

  @media only screen and (max-width: 500pt)  {
    body {

      /* background-color: rgba(219, 34, 96, 0.89); */

    }
  }

