* {
    margin: 0;
    padding: 0;
    }

    #ticTacContainer {
      display: flex;
      align-content: center;
      justify-content: center;
    }
.grid-container {
    display: grid;
    grid-template-columns: 66.666666px 66.666666px 66.666666px;
    background-color: #2196F3;
    width: 150 !important;
    height: 150;
    align-self: center;
  }
  .ttt-grid-item {
    background-color: #EDF5E1;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    height:66.666666px;
    width:66.666666px;
    font-family: 'Candal';
  }
  
  .ttt-grid-item:hover {
    background-color:#379683;
    /* color:#EDF5E1; */
  }

  .cardSection {
    width: 100%;
    height:auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    justify-items: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 300px;
    height: 350px;
    margin: 2%;
    background-color: #379683;
    border: 3px solid #8EE4AF;
    padding: 10px;
    font-family: Candal, monospace;
    
  }
  
  /* Add some padding inside the card container */
  .container {
    font-family: Candal, monospace; 
    margin-top: 10px;
    text-align:center;
    border: #05386B ;
    border-width: 2px;
    margin:0px;
    padding:5px;
    
  }

  .switchBox {
    display:none;
    align-items: center;
    text-align: center;
  }
  
  /* The switch - the box around the slider */
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-grid;
    margin:3px;
    margin-bottom: 5px;
    clear:right;
    text-align: center;

    
  }
 .switchLabel {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    display:block;
    display: inline-grid;
  }
  
  .startBox    {
    margin-top: 10px;
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 20px;
    font-weight:bolder;
    align-items: center;
  }
  .startBox   > b  {
    width:80%;
    float: left;
    clear:right;
    display:block;
    font-size: 20px;
  }

  #startBtn{
    font-family: Candal, monospace;
    font-size: 20px;
    font-weight:bolder;
    margin-top: 10px;
    align-self: center;
    width: 95px;
    height:30px !important;
  }

  b {
      
    clear:right;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #05386B;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #05386B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #05386B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @font-face {
    font-family: 'Candal';
    src: url(Candal.ttf) format('ttf');
}

#tictacText {
  margin: 0;
}

#ticTacContainer {
  height: auto;
}